# Salin file ini menjadi .env lalu sesuaikan
# Format: postgres://USERNAME:PASSWORD@HOST:PORT/NAMA_DATABASE
DATABASE_URL=postgres://postgres:postgres@localhost:5432/belajar_bahasa

# Level log: error, warn, info, debug, trace
RUST_LOG=info
